@import "tailwindcss";

@font-face {
  font-family: 'Lato';
  src: url('/fonts/lato.ttf') format('truetype');
}



:root {
  --primary: #ee6c4d;
  --primary-foreground: #fff;
  --secondary: #3f3f3f;
  --secondary-foreground: #fff;
  --accent: #f2e8cf;
  --accent-foreground: #000;

  --text-muted: #6b7280;
  --text-primary: #2e2d2d;

  --card: #eee;
  --background: #f9f9f9;

  --border: #e5e7eb;

  /* semantic colors */
  --destructive: #bc4749;
  --success: #006045;
  --warning: #fca311;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-text-muted: var(--text-muted);
  --color-text-primary: var(--text-primary);

  --color-card: var(--card);
  --color-background: var(--background);

  --color-border: var(--border);

  --color-destructive: var(--destructive);
  --color-success: var(--success);
  --color-warning: var(--warning);
}

body, * {
  font-family: 'Lato', sans-serif;
}